<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.school.database.mybatis.mappers.SchoolMapper">
    <resultMap id="resultSchool" type="net.thumbtack.school.database.model.School">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="year" column="year"/>
        <collection property="groups" column="id" javaType="java.util.List"
                    ofType="net.thumbtack.school.database.model.Group">
            <result property="id" column="group_id"/>
            <result property="name" column="group_name"/>
            <result property="room" column="room"/>
            <result property="school_id" column="school_id"/>
            <collection property="trainees" column="id" javaType="java.util.List"
                        ofType="net.thumbtack.school.database.model.Trainee">
                <result property="id" column="trainee_id"/>
                <result property="firstName" column="firstName"/>
                <result property="lastName" column="lastName"/>
                <result property="rating" column="rating"/>
            </collection>
            <collection property="subjects" column="id" javaType="java.util.List"
                        ofType="net.thumbtack.school.database.model.Subject">
                <result property="id" column="subject_id"/>
                <result property="name" column="subject_name"/>
            </collection>
        </collection>
    </resultMap>


    <select id="getAllByUsingJoin" resultMap="resultSchool">
        SELECT
        school.id as id, school.`name`, school.`year`,
        `group`.id as group_id, `group`.`name` as group_name, `group`.room, `group`.school_id,
        trainee.id as trainee_id, trainee.firstName, trainee.lastName, trainee.rating,
        `subject`.id as subject_id, `subject`.`name` as subject_name
        FROM school
        LEFT JOIN `group` ON `group`.school_id = school.id
        LEFT JOIN trainee ON trainee.group_id = `group`.id
        LEFT JOIN `subject` ON `subject`.id IN (SELECT subject_id FROM group_subject WHERE group_id = `group`.id)
    </select>

</mapper>